/*****headerBar.html******/
#headerBar {
	margin: 0px;
}

#headerBar ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#headerBar li { 
	float: left;
	height: 100%;
}

#headerBar li a { 
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#headerBar li a:hover { 
	background-color: #111;
}

#headerBar img {
	max-height: 30px;
}
