/*
@import url("/css/header.css");
*/
.center { 
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

p {
	margin: 0px;
}

html, body {
	height: 100%;
}

#main {
	margin-top: 10px;
	margin-bottom: 60px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0px;
	font-size: x-small;
}

#header {
	height: 75px;
}
