/*
@import url("/css/header.css");
*/
.center { 
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

p {
	margin: 0px;
}

html, body {
	height: 100%;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#wrap {
	padding-bottom: 50px;
}

#main {
	margin-top: 10px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#header {
	height: 50px;
}
