@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.center {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

.contenter {
	border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
	text-align: center;
}


body {
	margin: 0px;
}

.header {
	border-radius: 10px;
	background-color: #73AD21;
	width: 99%;
	height: 50px;
	position: fixed;
	top: 5px;
	right: 5px;
	left: 5px;
}

.icon {
	margin-left: 5px;
	margin-bottom: 5px;
	height: 40px;
	width: 40px;
	border-radius: 5px;
}

.button {
	margin: 5px;
	border-radius: 10px;
	background-color: #4caf50;
	width: auto;
	height: 40px;
	text-align: center;
	float: right;
}

.material-icons {
	font-size: 50px;
	color: black;
}

#github {
	border-radius: 50%;				
}

/*Desktop only*/
@media only screen and (min-width: 1080px) {
	#email {
		visibility: hidden;
	}
}

/*Mobile only*/
@media only screen and (max-width: 1080px) {
	#email {
		visibility: visible;
	}
	.header {
		height: 100px;
	}
	.icon {
		margin-top: 10px;
		margin-left: 10px;
		height: 80px;
		width: 80px;
		font-size: 80px;
	}
	.center {
		margin-top: 120px;
		font-size: 200%;
	}
}
